/* The side navigation menu */
.sidebar {
  margin-left: 400px;
  padding: 0rem 1.5rem;
  overflow-y: auto;
  width: 300px;
  position: fixed;
  border-radius: 0.25rem;
  font-size: 0.85rem;
  height: 1000px;
}

div.content {
  margin: 0;
  width: 400px;
  padding: 1px 10px;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    margin-left: 0;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {
  width: 100%;
  }
}
