{% extends "base.html" %}
{% block content %}

<p class="fs-5 fw-bold">About</p>
<p class="fs-6 fw-light">
Treasure Stone Schools is a dream come through born out of the need to address and redress the raising of independent and total learners, who would be problem solvers in all ramifications. 
<br><br>
Treasure Stone Schools is currently a Nursery and Primary school complemented with well equipped, spacious and well ventilated classrooms for learning. 
<br><br>
At Treasure Stone Schools, the staff work together as a team to ensure that every Treasure (Child) has a positive, happy and rewarding school experience towards becoming a global leader.
</p>

<hr class="dropdown-divider">

<p class="fs-5 fw-bold">Our Vision</p>
<p class="fs-6 fw-light">Learning to rise to be institution of excellence, achieving full potential and bringing out the treasures in every child.</p>

<hr class="dropdown-divider">

<p class="fs-5 fw-bold">Our Mission</p>
<p class="fs-6 fw-light">To help learners discover, develop and nurture the rich treasures deposited in them through provision of qualitative learning ambience that will make them functionally valuable and relivant to their environment.</p>

<hr class="dropdown-divider">

<p class="fs-5 fw-bold">About Website</p>
<p class="fs-6 fw-light">This website is an academic tool. It is used for the desemenation of information, conduct assessment through CBT (Computer Based Test) and storing of school's data.</p>
	
{% endblock %}
