{% extends "base.html" %}
{% block content %}

<div class="container-fluid">
<br>

{% for message in get_flashed_messages() %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
	{{ message }}
	<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}

<p class="text-center fw-bold">{{ room.title }} BROADSHEET</p>

<p class="text-center"><b>Class Teacher : </b>{{ room.staff.name }}</p>

<div class="table-responsive">
	{% for table in tables %}
		{{ table|safe }}
	{% endfor %}
</div>

<br/>

<center>
<a class="btn btn-outline-success" href="{{url_for('save_sheet', active=active.session.id, id=room.id)}}">Save as Excel</a>
</center>



<br/><br/>
</div>
{% endblock %}