{% extends "base.html" %}
{% block content %}

<div class="container"><br>

{% for message in get_flashed_messages() %}
<div class="alert alert-warning alert-dismissible show" role="alert">
	{{ message }}
	<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}

{% if cbts.items %}

<div class="card">
    <div class="card-header">Question {{ cbts.page }} of {{ cbts.pages }}</div>

    <div class="card-body">   
    <form method="POST">
    {% for cbt in cbts.items %}
	 	<p style="white-space:pre-wrap !important;">{{ cbt.question }}</p>
    	<div class="form-check">
	  		<input class="form-check-input" type="radio" name="option" id="A" value='{{ cbt.opt_one }}'> 
			<label class="form-check-label" for="A"> {{ cbt.opt_one }}</label>
   		</div> 	
	  	<div class="form-check">
		  	<input class="form-check-input" type="radio" name="option" id="B" value='{{ cbt.opt_two }}'> 
		  	<label class="form-check-label" for="B"> {{ cbt.opt_two }}</label>
	  	</div>
	  	<div class="form-check">
		  	<input class="form-check-input" type="radio" name="option" id="C" value="{{ cbt.opt_three }}"> 
		  	<label class="form-check-label" for="C"> {{ cbt.opt_three }}</label>
		</div>	   
    {% endfor %}
 		<button class="btn btn-primary" type="submit">{% if cbts.page==cbts.pages %}Finish{% else %}Next{% endif %}</button>
    </form>
    </div>
</div>

{% else %}

<div class="alert alert-warning show">
    <p class="fs-4">Questions are unavailable for this subject.</p>
</div>

{% endif %}
<br>
</div>
{% endblock %}