{% extends "base.html" %}
{% block content %}

{% for message in get_flashed_messages() %}
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
       <small>{{ message }}</small>
       <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
{% endfor %}


{% if current_user.id == subject.room.admin.id %}
	<div class="sidebar">

	<p class="text-center"><b>Add Question</b></p>
			<form method = 'POST' enctype="multipart/form-data">
				{{ form.hidden_tag() }}
				{{ form.question(class='form-control form-control-sm', placeholder= "write question...") }}
				<br/>
			<div class="row">
				<div class="col">
				<input type="hidden" value="setQ" name="name">	
				<select class="form-select form-select-sm" name='type'>
    				<option value="">Type</option>
   					<option value="Exam">Exam</option>
   					<option value="Test">Test</option>
				</select>
				</div>
				<div class="col">
				{{ form.file(class='form-control form-control-sm') }}<br>
				</div>
			</div>
				{{ form.answer(class='form-control form-control-sm', placeholder="Answer") }}<br>
				{{ form.option1(class='form-control form-control-sm', placeholder="A.") }}<br>
				{{ form.option2(class='form-control form-control-sm', placeholder="B.") }}<br>
				{{ form.option3(class='form-control form-control-sm', placeholder="C.") }}<br>
				{{ form.submit(class='form-control form-control-sm btn-secondary') }}
			</form>

	</div><br>
{% endif %}

{% if current_user.id == subject.room.admin.id %}
<div class="content">
{% endif %}

<div class="row g-0">
	<div class="col-1">
	<a class="btn btn-sm  btn-outline-secondary" href="{{url_for('class_', id=subject.room.id)}}">Back</a>
	</div>
	<div class="col text-center">
	<p class="text-center fw-bold fs-5">{{ subject.title }} Questions</p>
	</div>
	<div class="col-1 text-end">
	<button class="btn btn-sm" type="button" data-bs-toggle="offcanvas" data-bs-target="#Subject-name">Edit</button>
	</div>
</div>
	<div class="list-group-flush">
		{% for cbt in cbts %}
		<div class="list-group-item">
		{% if cbt.file %}
		<img src="{{url_for('static', filename=cbt.file )}}" class="object-fit-cover" width="100%"><br/>
		{% endif %}
		
		<span style="white-space:pre-wrap !important;">{{ cbt.question }}</span><br/>
   			<b>Answer:</b> {{ cbt.answer }}<br/>
   			<b>A.</b>  {{ cbt.option1 }}<br/>
   			<b>B.</b>  {{ cbt.option2 }}<br/>
   			<b>C.</b>  {{ cbt.option3 }}<br/>
   			<b>Type :</b>  {{ cbt.type }}<br/>

    		{% if current_user.id == subject.room.admin.id %}
			<a class="btn btn-sm btn-outline-dark" href="{{url_for('edit_question', id=cbt.id)}}">Edit</a>
			<a class="btn btn-sm btn-outline-danger" href="{{url_for('del_cbt', id=cbt.id, num=subject.id)}}">Delete</a>
			{% endif %}
		</div>
		{% endfor %}
	</div>
	
{% if current_user.id == subject.room.admin.id %}
</div>
{% endif %}


<div class="position-relative">
 <div class="offcanvas offcanvas-top-50 start-50 translate-middle" id="Subject-name" style="width: 21em;">
	<div class="offcanvas-body">
	<p class="text-center fw-bold">Edit Subject Name</p>
<form method = 'POST'>
		<input type="hidden" value="subject_name" name="name">
	{{ form.answer(class="form-control", placeholder="Subject Name") }}<br/>
	<center>{{ form.submit(class="btn btn-secondary") }}</center>
</form>
	</div>
 </div>
</div>


{% endblock %}