{% extends "base.html" %}
{% block content %}

{% for message in get_flashed_messages() %}
      <div class="alert alert-success alert-dismissible fade show" role="alert">
       <small>{{ message }}</small>
       <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
{% endfor %}

<div class="row g-0">
	<div class="col-1">
	<a class="btn btn-sm  btn-outline-secondary" href="{{url_for('classes', id=active.session.id)}}">Back</a>
	</div>
	<div class="col text-center">
		<p class="text-center fw-bold fs-5">{{ classed.title }}</p>
	</div>
</div>

<div class="alert alert-warning" role="alert">
	<b>Announcement : </b>{{ classed.announce }}
</div>

{% if current_user.id == classed.admin.id %}

<div class="accordion" id="accordionFlushExample">
   <div class="accordion-item">
    <span class="accordion-header ">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#Announce" aria-expanded="false" aria-controls="Announce">Edit Announcement</button>
    </span>
    <div id="Announce" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample"><br>
	<form method = 'POST'>
		<input type="hidden" value="announce" name="name">	
		{{ form.content(class="form-control", placeholder="Message") }}<br/>
		<center>
		<button type="submit" class="btn btn-secondary">Done</button>
		</center>
	</form><br>
	</div>
  </div>
</div><br>

<center>
	<a class="btn btn-outline-dark btn-sm"href="{{url_for('psych_affect', id=classed.id)}}">Psychomotor & Affective Ratings</a>
</center>

{% endif %}

{% if current_user.type == "Admin" %}
<center>
<div class="col-5">
<form method = 'POST'>
	<div class="row g-1">
		<div class="col">
			{{ form.hidden_tag() }}
			<input type="hidden" value="subject" name="name">	
			{{ form.title(class='form-control',placeholder="Subject Title") }}
		</div>
		<div class="col">
			{{ form.submit(class='btn btn-secondary') }}
		</div>
	</div>
</form>
</div>
</center>
{% endif %}

<table class="table table-hover table-lg">
  <thead>
    <tr>
    <th scope="col">Subject</th>
	<th scope="col">PDF</th>
	<th scope="col">Scores</th>
	<th></th>
    </tr>
  </thead>

  <tbody class="table-group-divider">
	{% for subject in subjects %}
    <tr>
      <td><a href="{{url_for('cbt_question', id=subject.id)}}">{{ subject.title }}</a></td>
	  <td>
	  {% if subject.file %}
		<a href="{{url_for('download', filename=subject.file)}}">Download<a>
	  {% else %}
	    <span class="text-danger">No file</span>
	  {% endif %}
	 </td>
	<td><a href="{{url_for('view_scores', id=subject.id)}}">View</a></td>
	{% if current_user.email == classed.admin.email %}
	<td>
<form method = 'POST' enctype="multipart/form-data">
	<div class="row g-1">
		<div class="col">
			{{ form.hidden_tag() }}
			<input type="hidden" value="{{ subject.id }}" name="sub">
			<input type="hidden" value="material" name="name">	
			{{ form.file(class='form-control form-control-sm') }}
		</div>
		<div class="col">
			<button type="submit" class="btn btn-sm btn-secondary">Upload</button>
		</div>
	</div>
</form>
	</td>
	
	{% elif current_user.type == "Admin" %}
	<td><a class="text-danger" href="{{url_for('del_subject', id=subject.id, num=classed.id)}}">Delete</a></td>
	{% endif %}
	
    </tr>
    {% endfor %}
  </tbody>
</table>


		
{% endblock %}