{% extends "base.html" %}
{% block content %}

<div class="container-fluid">
<br>

{% for message in get_flashed_messages() %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
	{{ message }}
	<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}


<center>
<form method = 'POST'>
	<div class="input-group gap-1" style="width:20rem;">
		{{ form.hidden_tag() }}
		<input type="hidden" value="class" name="name">	
		{{ form.string(class="form-control rounded",placeholder="Add Class") }}
		{{ form.submit(class='btn rounded btn-secondary') }}
	</div>
</form>
</center><br>

<table class="table table-hover table-sm table-bordered">
  <thead>
    <tr>
      <th scope="col">Class</th>
      <th scope="col">Teacher</th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
	{% for class in classes %}
    <tr>
      <td>
        <form method="POST">
           <input type="hidden" value="{{ class.id }}" name="room">
       	<input type="hidden" value="edit" name="name">
           {{ form.hidden_tag() }}
       	   {{ form.string(value=class.title, style="border: 0; background-color: transparent; border-radius:0;", class="form-control") }}
        </form>
      </td>
	 <td>
<form method = 'POST'>
	<div class="input-group">
	{{ form.hidden_tag() }}
	<input type="hidden" value="staff" name="name">
	<input type="hidden" value="{{ class.id }}" name="room">	
	<select class="form-select" name="staff" style="border: 0; background-color: transparent; border-radius:0;">
		<option >{{ class.staff.name }}</option>
		{% for staff in staffs %}
		<option value="{{ staff.id }}">{{ staff.name }}</option>
		{% endfor %}
	</select>
	<button class="btn btn-sm btn-secondary" type="submit">Assign</button>
	</div>
</form>
	 </td>
	 <td>
        <div class="dropdown">
	    	<a class="btn dropdown-toggle"></a>
	    	<div class="dropdown-content" style=" right: 0;">
		        <a href="{{url_for('class_delete', id=class.id)}}">Delete</a>
    		</div>
    	</div>
    </td>
    </tr>
	{% endfor %}
  </tbody>
</table>

</div>
{% endblock %}