{% extends "base.html" %}
{% block content %}


<p class="fs-5 fw-bold">Contact</p>

<b>📧 Email : </b><a href="mailto:">treasurestoneschool@gmail.com</a><br>
<b>📞 Phone : </b>+234 123456790

<hr>

<span class="fs-5 fw-bold">Administrators</span>
{% if current_user.type == "Admin" %}
<button class="btn text-primary btn-sm" type="button" data-bs-toggle="offcanvas" data-bs-target="#AddAdmin">Add New</button>
{% endif %}
<br><br>
<p class="fs-6 fw-light">To contact the school administrators from their direct emails, click on any of the emails.</p>

<table class="table table-hover table-sm table-bordered">
	{% for admin in admins %}
    <tr>
      <td>{{ admin.username }}</td>
	  <td>{{ admin.type }}</td>
      <td><a class="fw-light" href="mailto:{{ admin.email }}">{{ admin.email }}</a></td>

	{% if current_user.type == "Admin" %}
	  <td>
<form method = 'POST'>
	{{ form.hidden_tag() }}
	<input type="hidden" name="name" value="edit">
	<input type="hidden" name="id" value="{{ admin.id }}">
	<div class="row g-1">
	<div class="col">
	<select class="form-select form-select-sm" name='type'>
    	<option value=""selected>Type</option>
   		<option value="Admin">Admin</option>
   		<option value="Tutor">Tutor</option>
	</select>
	</div>
	<div class="col">
	<button class="btn btn-sm btn-secondary" type="submit">Edit</button>
	</div>
	</div>
</form>
	 </td>
      <td><a class="btn btn-sm text-danger" href="{{url_for('del_admin', id=admin.id)}}">Remove</a></td>
	{% endif %}
    </tr>
    {% endfor %}
</table>


<div class="position-relative">
  <div class="offcanvas offcanvas-top-50 start-50 translate-middle" id="AddAdmin" style="width: 22em;">
	<div class="offcanvas-body">
	<p class="text-center fw-bold">Add Administrator</p>
<form method = 'POST' enctype="multipart/form-data">
	{{ form.hidden_tag() }}
	<input type="hidden" name="name" value="add">
	{{ form.username(placeholder="Full Name", class='form-control') }}
	<br/>
	{{ form.email(placeholder="Email", class='form-control') }}
	<br>
	<select class="form-select" name='type'>
    	<option value=""selected>Type</option>
   		<option value="Admin">Admin</option>
   		<option value="Tutor">Tutor</option>
	</select>
	<br/>
	{{ form.password(placeholder="Password", class='form-control') }}
	<br/>
	<center>{{ form.submit(class='btn btn-secondary') }}</center>
</form>
	</div>
  </div>
</div>

{% endblock %}
