{% extends "base.html" %}
{% block content %}

<div class="container-fluid">
<br>

<div class="card" style="width:24rem;">
    <div class="card-header text-center">Edit Question</div>
    <div class="card-body">
<form method = 'POST'>
	{{ form.hidden_tag() }}
	{{ form.question(class='form-control', placeholder= "Question", rows="6") }}<br/>
	<select class="form-select" name='type'>
		<option value="{{ selected }}">{{ selected }}</option>
		<option value="Exam">Exam</option>
		<option value="Test">Test</option>
	</select><br>
	{{ form.answer(class='form-control', placeholder="Answer") }}<br>
	{{ form.opt_one(class='form-control', placeholder="A.") }}<br>
	{{ form.opt_two(class='form-control', placeholder="B.") }}<br>
	{{ form.opt_three(class='form-control', placeholder="C.") }}<br>
	{{ form.submit(class='btn btn-secondary') }}
</form>
    </div>
</div>

<br><br>
</div>
{% endblock %}