{% extends "base.html" %}
{% block content %}


<p class="fs-5 text-center fw-bold">Library</p>

<div class="table-responsive">
<table class="table table-hover table-sm table-bordered">
  <thead>
    <tr>
      <th scope="col">Subject</th>
	  <th scope="col">Class</th>
	  <th scope="col">Session</th>
	  <th scope="col">Term</th>
	  <th scope="col">PDF</th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
	{% for subject in subject.items %}
    <tr>
      <td>{{ subject.title }}</td>
      <td>{{ subject.room.title }}</td>
	  <td>{{ subject.room.session.session }}</td>
	  <td>{{ subject.room.session.term }}</td>
      <td>
	  {% if subject.file %}
			<a class="btn btn-sm text-primary" href="{{url_for('download', filename=subject.file)}}">Download<a>
	  {% else %}
	  	 <a class="btn btn-sm text-danger">No file</a>
	  {% endif %}
	 </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>

<center>
<!-- Pagination Links-->
<div class="text-right">
    <a href="{{ url_for('library', page=subject.prev_num) }}" class="btn btn-sm btn-outline-dark {% if subject.page == 1 %}disabled{% endif %}">
    Back
    </a>
<!-- Loop through the number of pages to display a link for each-->
	{% for page_num in subject.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
    
    	{% if page_num %}
<!-- Check for the active page and set the link to "Active"-->
            {% if subject.page == page_num %}
            <a href="{{ url_for('library', page=page_num) }}"class="btn btn-sm btn-dark">{{ page_num }}</a>
            
            {% else %}
            <a href="{{ url_for('library', page=page_num) }}"
               class="btn btn-sm btn-outline-dark">
                {{ page_num }}
            </a>
            {% endif %}
        {% else %}
        ...
        {% endif %}
    {% endfor %}
    <a href="{{ url_for('library', page=subject.next_num) }}"
       class="btn btn-sm btn-outline-dark 
       {% if subject.page == subject.pages %}disabled{% endif %}">
        Next
    </a>
</div>
</center>

{% endblock %}
