{% extends "base.html" %}
{% block content %}

{% for message in get_flashed_messages() %}
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
       <small>{{ message }}</small>
       <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
{% endfor %}

<a class="btn btn-sm  btn-outline-secondary" href="{{url_for('class_', id=room.id)}}">Back</a><br><br>

<div class="row">
	<div class="col">
<div class="card shadow">
	<div class="card-header">
	<b>Psychomotor Rating</b>
	</div>
	<div class="card-body">
	<form method = 'POST'>
	<input type="hidden" value="psych" name="name">
	<select class="form-select" name="student">
    	<option >STUDENTS</option>
		{% for student in students %}
   	<option value="{{ student.id }}">{{ student.first_name }} {{ student.last_name }}</option>
   	 {% endfor %}
	</select><br/>
	<select class="form-select" name="handle">
    	<option >HANDLING OF TOOLS</option>
   	<option value="A">A. Maintain an excellent degree of observable trait</option>
   	<option value="B">B. Maintains a high level of observable trait</option>
   	<option value="C">C. Acceptable level for observable trait</option>
   	<option value="D">D. Shows minimal regard for observable trait</option>
   	<option value="E">E. Has no regard for oberservable trait</option>
	</select><br/>
	
	<select class="form-select" name="draw">
    	<option >DRAWING AND PAINTING</option>
   	<option value="A">A. Maintain an excellent degree of observable trait</option>
   	<option value="B">B. Maintains a high level of observable trait</option>
   	<option value="C">C. Acceptable level for observable trait</option>
   	<option value="D">D. Shows minimal regard for observable trait</option>
   	<option value="E">E. Has no regard for oberservable trait</option>
	</select><br/>
	
	<select class="form-select" name="speech">
    	<option >SPEECH FLUENCY</option>
   	<option value="A">A. Maintain an excellent degree of observable trait</option>
   	<option value="B">B. Maintains a high level of observable trait</option>
   	<option value="C">C. Acceptable level for observable trait</option>
   	<option value="D">D. Shows minimal regard for observable trait</option>
   	<option value="E">E. Has no regard for oberservable trait</option>
	</select><br/>
	
	<select class="form-select" name="write">
    	<option >HANDWRITING</option>
   	<option value="A">A. Maintain an excellent degree of observable trait</option>
   	<option value="B">B. Maintains a high level of observable trait</option>
   	<option value="C">C. Acceptable level for observable trait</option>
   	<option value="D">D. Shows minimal regard for observable trait</option>
   	<option value="E">E. Has no regard for oberservable trait</option>
	</select><br/>
	
	<select class="form-select" name="public">
    	<option >PUBLIC SPEAKING</option>
   	<option value="A">A. Maintain an excellent degree of observable trait</option>
   	<option value="B">B. Maintains a high level of observable trait</option>
   	<option value="C">C. Acceptable level for observable trait</option>
   	<option value="D">D. Shows minimal regard for observable trait</option>
   	<option value="E">E. Has no regard for oberservable trait</option>
	</select><br/>
	
	<select class="form-select" name="sport">
    	<option >SPORT AND GAMES</option>
   	<option value="A">A. Maintain an excellent degree of observable trait</option>
   	<option value="B">B. Maintains a high level of observable trait</option>
   	<option value="C">C. Acceptable level for observable trait</option>
   	<option value="D">D. Shows minimal regard for observable trait</option>
   	<option value="E">E. Has no regard for oberservable trait</option>
	</select><br/>

	<center>
		<button type="submit" class="btn btn-secondary">Done</button>
	</center>
	</form>
	</div>
</div>
	</div>

	<div class="col">
<div class="card shadow">
	<div class="card-header">
		<b>Affective Rating</b>
	</div>
	<div class="card-body">
	<form method = 'POST'>
	<input type="hidden" value="affect" name="name">
	<select class="form-select" name="student">
    	<option >STUDENTS</option>
		{% for student in students %}
   	<option value="{{ student.id }}">{{ student.first_name }} {{ student.last_name }}</option>
   	 {% endfor %}
	</select><br/>
	
	<select class="form-select" name="attentive">
    	<option >ATTENTIVENESS</option>
   	<option value="A">A. Maintain an excellent degree of observable trait</option>
   	<option value="B">B. Maintains a high level of observable trait</option>
   	<option value="C">C. Acceptable level for observable trait</option>
   	<option value="D">D. Shows minimal regard for observable trait</option>
   	<option value="E">E. Has no regard for oberservable trait</option>
	</select><br/>
	
	<select class="form-select" name="honest">
    	<option >HONESTY</option>
   	<option value="A">A. Maintain an excellent degree of observable trait</option>
   	<option value="B">B. Maintains a high level of observable trait</option>
   	<option value="C">C. Acceptable level for observable trait</option>
   	<option value="D">D. Shows minimal regard for observable trait</option>
   	<option value="E">E. Has no regard for oberservable trait</option>
	</select><br/>
	
	<select class="form-select" name="neat">
    	<option >NEATNESS</option>
   	<option value="A">A. Maintain an excellent degree of observable trait</option>
   	<option value="B">B. Maintains a high level of observable trait</option>
   	<option value="C">C. Acceptable level for observable trait</option>
   	<option value="D">D. Shows minimal regard for observable trait</option>
   	<option value="E">E. Has no regard for oberservable trait</option>
	</select><br/>
	
	<select class="form-select" name="polite">
    	<option >POLITENESS</option>
   	<option value="A">A. Maintain an excellent degree of observable trait</option>
   	<option value="B">B. Maintains a high level of observable trait</option>
   	<option value="C">C. Acceptable level for observable trait</option>
   	<option value="D">D. Shows minimal regard for observable trait</option>
   	<option value="E">E. Has no regard for oberservable trait</option>
	</select><br/>
	
	<select class="form-select" name="punctual">
    	<option >PUNCTUALITY / ASSEMBLY</option>
   	<option value="A">A. Maintain an excellent degree of observable trait</option>
   	<option value="B">B. Maintains a high level of observable trait</option>
   	<option value="C">C. Acceptable level for observable trait</option>
   	<option value="D">D. Shows minimal regard for observable trait</option>
   	<option value="E">E. Has no regard for oberservable trait</option>
	</select><br/>
	
	<select class="form-select" name="calm">
    	<option >SELF CONTROL / CALMNESS</option>
   	<option value="A">A. Maintain an excellent degree of observable trait</option>
   	<option value="B">B. Maintains a high level of observable trait</option>
   	<option value="C">C. Acceptable level for observable trait</option>
   	<option value="D">D. Shows minimal regard for observable trait</option>
   	<option value="E">E. Has no regard for oberservable trait</option>
	</select><br/>
	
	<select class="form-select" name="obey">
    	<option >OBEDIENCE</option>
   	<option value="A">A. Maintain an excellent degree of observable trait</option>
   	<option value="B">B. Maintains a high level of observable trait</option>
   	<option value="C">C. Acceptable level for observable trait</option>
   	<option value="D">D. Shows minimal regard for observable trait</option>
   	<option value="E">E. Has no regard for oberservable trait</option>
	</select><br/>
	
	<select class="form-select" name="rely">
    	<option >RELIABILITY</option>
   	<option value="A">A. Maintain an excellent degree of observable trait</option>
   	<option value="B">B. Maintains a high level of observable trait</option>
   	<option value="C">C. Acceptable level for observable trait</option>
   	<option value="D">D. Shows minimal regard for observable trait</option>
   	<option value="E">E. Has no regard for oberservable trait</option>
	</select><br/>

	<center>
	<button type="submit" class="btn btn-secondary">Done</button>
	</center>
	</form>
	</div>
</div>
	</div>
</div>
	
{% endblock %}
