{% extends "base.html" %}
{% block content %}

<div class="container">
<br>

<center>
<div class="card shadow text-center" style="width:20rem;">
	<div class="card-header fw-bold">Your Score</div>
	<div class="card-body">
		<br/>
		<p class="card-title display-4">{{ score }}/{{ cbts.pages }}</p>
		<hr>
		<p>{{ current_user.name }} {{ current_user.other }} {{ current_user.surname }}</p>		
	</div>
</div>

    <br><br>
	<a href="{{url_for('student', id=current_user.id)}}" class="btn btn-outline-secondary">Return to Dashboard</a>
</center>

<br><br>
</div>
{% endblock %}
