{% extends "base.html" %}
{% block content %}

<div class="container">
<br>

{% for message in get_flashed_messages() %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
	{{ message }}
	<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}

<center>
<p class="fw-bold fs-3">Student Login</p>

<div class="card shadow" style="width: 24rem;">
	<div class="card-body">
	<form method = 'POST' enctype="multipart/form-data">
		{{ form.hidden_tag() }}
		{{ form.email(placeholder="Email", class='form-control') }}<br/>
		{{ form.password(placeholder="Password", class='form-control') }}<br/>
		{{ form.submit(class='btn btn-secondary') }}
	</form>
	</div>
</div>
</center>


</div>
{% endblock %}