{% extends "base.html" %}
{% block content %}

<div class="container">
<br>

{% for message in get_flashed_messages() %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
	{{ message }}
	<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}

<p class="text-center fw-bold fs-5">{{ subject.room.title }}</p>

<div class="card shadow">
	<div class="card-header lead fs-5 text-center">{{ subject.title }}</div>
	<div class="card-body">
		<p class="card-text fw-light">You are required to download the PDF for this subject and study before attempting the assessments.</p>
	 {% if subject.file %}
		<a class="nav-link link-success" href="{{url_for('download', filename=subject.file)}}">Download<a>
	{% else %}
		<a class="nav-link disabled">No File</a>
	{% endif %}
	</div>
</div>

<br/><br/>

<b>Assessments</b><br/><br/>

<div class="card shadow">
	<div class="card-body">
		<p class="lead fs-5">Important to Note :</p>
		<p class="card-text fw-light">
			You are required to select an answer before moving to the next question. When next is clicked, your choice will be submitted immediately, so revisiting a question is <b>NOT</b> an option.
		</p>
        <div class="row text-center">
        	<a class="col nav-link link-primary {% if grade.test %} text-secondary disabled {% endif %}" aria-disabled="true" href="{{url_for('cbt', id=subject.id, type='Test')}}">Begin Test</a>
        	<a class="nav-link col link-primary {% if grade.exam %} text-secondary disabled {% endif %}" aria-disabled="true" href="{{url_for('cbt', id=subject.id, type='Exam')}}">Begin Exam</a>
        </div>
    </div>
</div>

<br><br><br>
</div>
{% endblock %}