{% extends "base.html" %}
{% block content %}

{% for message in get_flashed_messages() %}
      <div class="alert alert-success alert-dismissible fade show" role="alert">
       <small>{{ message }}</small>
       <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
{% endfor %}


{% if session["account"] == "Admin" %}
	{% if current_user.type == "Admin" %}
<div class="sidebar">

    <p><b>Add Picture To Gallery</b></p>
    <form method = 'POST' enctype="multipart/form-data">
      {{ form.hidden_tag() }}
      <input type="hidden" value="gallery" name="name">
      <div class="row">
      	<div class="col-8">
      	{{ form.file(class='form-control form-control-sm') }}
      	</div>
      	{{ form.submit(class='btn col-4 btn-sm btn-secondary') }}
      </div>
    </form><hr>
    
    <p><b>Add Newsletter</b></p>
    <form method = 'POST' enctype="multipart/form-data">
	   {{ form.hidden_tag() }}
      <input type="hidden" value="news" name="name">
	   {{ form.headline(class='form-control form-control-sm', rows="1", placeholder= "Headline") }}<br>	
	   {{ form.content(class='form-control form-control-sm', placeholder= "write a post...") }}<br/>
	   
	   <div class="row">
      	<div class="col-8">
      	{{ form.file(class='form-control form-control-sm') }}
      	</div>
      	{{ form.submit(class='btn col-4 btn-sm btn-secondary') }}
      </div><br>
	</form>

</div><br>
	{% endif %}
{% endif %}

{% if session["account"] == "Admin" %}
	{% if current_user.type == "Admin" %}
<div class="content">
	{% endif %}
{% endif %}

{% if active %}
<nav class="nav-success bg-success">
  <div class="text-center">
    <b class="text-light">{{ active.session.session }} Academic Session<br>{{ active.session.term }} Term</b>
  </div>
</nav><br>
{% endif %}


<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    {% for pic in picts %}
        <div class="carousel-item {% if pic.id == picts.first().id %}active{% endif %}">
          <img src="{{ url_for('static', filename=pic.file)}}" class="w-100"><br>
         {% if current_user.type == "Admin" %}
          <a class="btn btn-sm text-danger"href="{{ url_for('del_gallery', id=pic.id) }}">Delete</a>
         {% endif %}
        </div>
    {% endfor %}
  </div>
</div>

<br>

<nav class="nav-secondary bg-secondary">
  <div class="text-center">
    <b class="text-light">NEWSLETTERS</b>
  </div>
</nav>
<br>


{% for post in posts.items %}

<div class="card">
	<a href="{{url_for('post', id=post.id)}}" class="stretched-link"></a>
	
<div class="row g-0">
<div class="col-9">
	<div class="card-body">
	{% if post.headline %}
		<b>{{ post.headline }}</b><br>
	{% endif %}
		<small class="text-secondary">{{ post.time }}</small>
	</div>
</div>

<div class="col-3">
	{% if post.file %}
		<img src="{{url_for('static', filename=post.file )}}" class="card-img-bottom" height="90">
	{% endif %}
</div>
</div>

</div><br>
{% endfor %}

<center>
<!-- Pagination Links-->
<div class="text-right">
    <a href="{{ url_for('timeline', page=posts.prev_num) }}" class="btn btn-sm btn-outline-dark {% if posts.page == 1 %}disabled{% endif %}">
    Back
    </a>
<!-- Loop through the number of pages to display a link for each-->
	{% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
    
    	{% if page_num %}
<!-- Check for the active page and set the link to "Active"-->
            {% if posts.page == page_num %}
            <a href="{{ url_for('timeline', page=page_num) }}"class="btn btn-sm btn-dark">{{ page_num }}</a>
            
            {% else %}
            <a href="{{ url_for('timeline', page=page_num) }}"
               class="btn btn-sm btn-outline-dark">
                {{ page_num }}
            </a>
            {% endif %}
        {% else %}
        ...
        {% endif %}
    {% endfor %}
    <a href="{{ url_for('timeline', page=posts.next_num) }}"
       class="btn btn-sm btn-outline-dark 
       {% if posts.page == posts.pages %}disabled{% endif %}">
        Next
    </a>
</div>
</center>

{% if session["account"] == "Admin" %}
	{% if current_user.type == "Admin" %}
</div>
	{% endif %}
{% endif %}

{% endblock %}