{% extends "base.html" %}
{% block content %}

{% for message in get_flashed_messages() %}
      <div class="alert alert-success alert-dismissible fade show" role="alert">
       <small>{{ message }}</small>
       <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
{% endfor %}


{% if session["account"] == "Admin" %}
	{% if current_user.type == "Admin" %}
	<div class="sidebar">

<div class="accordion accordion-flush" id="accordionFlushExample">
   <div class="accordion-item">
    <span class="accordion-header ">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#Addpost" aria-expanded="false" style="background-color: #f1f1f1;" aria-controls="Addpost">Add Content</button>
    </span>
    <div id="Addpost" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample" style="background-color: #f1f1f1;"><br>
    <h5>Add Post To Newsletter</h5>
    <form method = 'POST' enctype="multipart/form-data">
	   {{ form.hidden_tag() }}
      <input type="hidden" value="news" name="name">
	   {{ form.headline(class='form-control form-control-sm', rows="1", placeholder= "Headline") }}<br>	
	   {{ form.file(class='form-control form-control-sm') }}<br/>
	   {{ form.content(class='form-control form-control-sm', placeholder= "write a post...", rows="6") }}<br/>
	   <center>{{ form.submit(class='form-control btn-sm btn-secondary') }}</center>
	  </form><br><br>

    <h5>Add Picture To Gallery</h5>
    
    <form method = 'POST' enctype="multipart/form-data">
      {{ form.hidden_tag() }}
      <input type="hidden" value="gallery" name="name">
      {{ form.file(class='form-control form-control-sm') }}<br/>
      <center>{{ form.submit(class='form-control btn-sm btn-secondary') }}</center>
    </form><br>
	</div>
  </div>
</div>

	</div><br>
	{% endif %}
{% endif %}

{% if session["account"] == "Admin" %}
	{% if current_user.type == "Admin" %}
<div class="content">
	{% endif %}
{% endif %}

{% if active %}
<nav class="nav-success bg-success">
  <div class="text-center">
    <b class="text-light fs-4">{{ active.session.session }} Academic Session<br>{{ active.session.term }} Term</b>
  </div>
</nav>

{% endif %}

  <div class="table-responsive">
    <div class="row">
    {% for pict in picts %}
      <div class="col">
        <img src="{{ url_for('static',filename='files/'+ pict.file) }}" class="d-block w-50" width=300 height=300 alt="...">
      </div>
    {% endfor %}
    </div>
  </div>
  
<br>

<nav class="nav-secondary bg-secondary">
  <div class="text-center">
    <b class="text-light">NEWSLETTERS</b>
  </div>
</nav>
<br>

<div class="row">
{% for post in posts.items %}
<div class="col-6">
<div class="card">
	<a href="{{url_for('post', id= post.id)}}" class="stretched-link"></a>
	<div class="card-body">
	{% if post.headline %}
		<span class="fs-5">{{ post.headline }}</span><br>
	{% endif %}
		<small class="text-secondary">{{ post.time }}</small>
	{% if post.file %}
		<img src="{{url_for('static', filename='files/' + post.file )}}" class="card-img-bottom">
	{% endif %}
	</div>
</div><br>
</div>
{% endfor %}
</div>

<center>
<!-- Pagination Links-->
<div class="text-right">
    <a href="{{ url_for('timeline', page=posts.prev_num) }}" class="btn btn-sm btn-outline-dark {% if posts.page == 1 %}disabled{% endif %}">
    Back
    </a>
<!-- Loop through the number of pages to display a link for each-->
	{% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
    
    	{% if page_num %}
<!-- Check for the active page and set the link to "Active"-->
            {% if posts.page == page_num %}
            <a href="{{ url_for('timeline', page=page_num) }}"class="btn btn-sm btn-dark">{{ page_num }}</a>
            
            {% else %}
            <a href="{{ url_for('timeline', page=page_num) }}"
               class="btn btn-sm btn-outline-dark">
                {{ page_num }}
            </a>
            {% endif %}
        {% else %}
        ...
        {% endif %}
    {% endfor %}
    <a href="{{ url_for('timeline', page=posts.next_num) }}"
       class="btn btn-sm btn-outline-dark 
       {% if posts.page == posts.pages %}disabled{% endif %}">
        Next
    </a>
</div>
</center>

{% if session["account"] == "Admin" %}
	{% if current_user.type == "Admin" %}
</div>
	{% endif %}
{% endif %}

{% endblock %}