{% extends "base.html" %}
{% block content %}

<div class="container-fluid">
<br>

{% for message in get_flashed_messages() %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}

<p class="text-center fw-bold">{{ subject.title }}</p>

<div class="alert alert-warning text-center">
    All student must have an Exam score and a Test score.
</div>

<div class="row">
	<div class="col-sm-6 mb-sm-0">
    <p class="text-center fw-bold">Test Scores</p>

<form method="POST">
	<div class="input-group mb-3">
	{{ form.hidden_tag() }}
	<input type="hidden" value="test" name="name">
	<select class="form-select" name="student">
    	<option >Student</option>
		{% for student in students %}
   	<option value="{{ student.id }}">{{ student.name }} {{ student.surname }}</option>
   	 {% endfor %}
	</select>
	{{form.number(class="form-control", placeholder="Score")}}
    {{form.submit(class="btn btn-secondary")}}
	</div>
</form>

<table class="table table-hover table-sm table-bordered">
  <thead>
    <tr>
      <th scope="col">Name</th>
	  <th scope="col">Score</th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
	{% for test in tests %}
    <tr>
      <td>{{ test.student.name }} {{ test.student.surname }}</td>
	  <td>{{ test.score }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
	</div>
	
	<div class="col-sm-6">
<p class="text-center fw-bold">Exam Scores</p>

<form method="POST">
	<div class="input-group mb-3">
	{{ form.hidden_tag() }}
	<input type="hidden" value="exam" name="name">
	<select class="form-select" name="student">
    	<option >Student</option>
		{% for student in students %}
   	 <option value="{{ student.id }}">{{ student.name }} {{ student.surname }}</option>
   	 {% endfor %}
	</select>
	{{form.number(class="form-control", placeholder="Score")}}
    {{form.submit(class="btn btn-secondary")}}
	</div>
</form>

<table class="table table-hover table-sm table-bordered">
  <thead>
    <tr>
      <th scope="col">Name</th>
	  <th scope="col">Score</th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
	{% for exam in exams %}
    <tr>
      <td>{{ exam.student.name }} {{ exam.student.surname }}</td>
	  <td>{{ exam.score }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
	</div>
</div>

<br><br>
</div>
{% endblock %}
